<h1> Cart </h1>

<% if @cart %>
  <% @cart.each do |cart| %>
    <%= cart %><br>
  <% end %>
<% end %>

<%= form_tag('add', method: "post") do %>
  <%= label_tag(:product, "Product:") %>
  <%= text_field_tag(:product) %>
  <%= submit_tag("add to cart") %>
<% end %>
